.card-container {

	margin: 15px auto;
	width: 300px;
	padding: 20px;
	border: 1px solid rgb(220, 220, 220);

	h4 {
		padding-bottom: 10px;
		font-weight: lighter;
		font-size: 15px;
	}

	&__hand {

		&__suit {
			font-size: 20px;
			display: flex;
			align-items: center;

			span {
				font-size: 30px;
			}

			.hearts, .diamonds {
				color: red;
			}

		}

	}

}
